/*
=================================================================
   _____
  / ____|
 | (___  _ __   __ _  ___ ___   _ __ ___   ___  _ __   ___
  \___ \| '_ \ / _` |/ __/ _ \ | '_ ` _ \ / _ \| '_ \ / _ \
  ____) | |_) | (_| | (_|  __/ | | | | | | (_) | | | | (_) |
 |_____/| .__/ \__,_|\___\___| |_| |_| |_|\___/|_| |_|\___/
        | |
        |_|
=================================================================
 */

/* latin-ext */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    src: local('Space Mono Italic'), local('SpaceMono-Italic'), url('Space_Mono/SpaceMono-Italic.ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    src: local('Space Mono Italic'), local('SpaceMono-Italic'), url('Space_Mono/SpaceMono-Italic.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Space Mono Bold Italic'), local('SpaceMono-BoldItalic'), url('Space_Mono/SpaceMono-BoldItalic.ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Space Mono Bold Italic'), local('SpaceMono-BoldItalic'), url('Space_Mono/SpaceMono-BoldItalic.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url('Space_Mono/SpaceMono-Regular.ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url('Space_Mono/SpaceMono-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url('Space_Mono/SpaceMono-Bold.ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url('Space_Mono/SpaceMono-Bold.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
=================================================================
 __          __        _
 \ \        / /       | |
  \ \  /\  / /__  _ __| | __  ___  __ _ _ __  ___
   \ \/  \/ / _ \| '__| |/ / / __|/ _` | '_ \/ __|
    \  /\  / (_) | |  |   <  \__ \ (_| | | | \__ \
     \/  \/ \___/|_|  |_|\_\ |___/\__,_|_| |_|___/

=================================================================
 */
/* latin-ext */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('WorkSans-Regular'), url('Work_Sans/WorkSans-Regular.ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('WorkSans-Regular'), url('Work_Sans/WorkSans-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Work Sans Bold'), local('WorkSans-Bold'), url('Work_Sans/WorkSans-Bold.ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Work Sans Bold'), local('WorkSans-Bold'), url('Work_Sans/WorkSans-Bold.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}