<em>Op deze pagina zijn de uitgedeelde punten te zien.</em><br>
<em>Klik op een blok om het aan te passen of te verwijderen</em>
<?php if ($page->pointArr && is_array($page->pointArr)) : ?>
<?php
    $points = $page->pointArr[0];
    $max = $page->pointArr[1];
    if ($points <= ($max / 2)) {
        $class = 'half';
    } elseif ($points <= ($max / 4)) {
        $class = 'quarter';
    } elseif ($points <= ($max / 10)) {
        $class = 'ten';
    } else {
        $class = '';
    }
?>
    <div class="point-sum">
        <div class="total">
            <p>Punten:</p><div class="points <?=$class?> overview"><strong><?=$points?></strong>/<?=$max?></div>
            <?php if ($page->pointChart) : ?>
                <?=$page->pointChart?>
            <?php endif; ?>
        </div>
        <div class="sum">
            <?php if ($pointSum = $page->pointSum) : ?>
                <?php foreach($pointSum as $sum) : ?>
                    <div class="pointsum <?=$sum['type']?>">
                        <span class="times"><?=$sum['count']?>X</span>
                        <span class="type"><i class="fa fa-<?=$sum['icon']?>"></i><?=$sum['name']?></span>
                        <span class="total"><?=($sum['sum']>0?'+':'').$sum['sum']?></span>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
<?php elseif(is_string($page->pointArr)) : ?>
    <?=$page->pointArr?>
<?php endif; ?>
<div id="log-container" class="<?=($page->student?'student':'')?>"><?=$page->log?></div>