<?php if (!$page->classObj) : ?>
    <section id="class-overview">
        <div class="section-title">
            <h2>Klassen overzicht</h2>
        </div>
        <div class="section-content">
            <?php if ($page->classOverview) : ?>
                <?=$page->classOverview?>
            <?php endif; ?>
        </div>
    </section>
    <section id="course-overview">
        <div class="section-title">
            <h2>Opleiding overzicht</h2>
        </div>
        <div class="section-content">
            <?php if ($page->courseOverview) : ?>
                <?=$page->courseOverview?>
            <?php endif; ?>
        </div>
    </section>
<?php else : ?>
    <table>
        <tr>
            <td><strong>Mentor</strong></td>
            <td><?=$page->classObj->get_mentorObj()->get_username()?></td>
        </tr>
        <tr>
            <td><strong>Opleiding</strong></td>
            <td><?=$page->classObj->courseArr['name']?></td>
        </tr>
    </table>
    <section id="user-overview">
        <div class="section-title">
            <h2>Studenten overzicht</h2>
        </div>
        <div class="section-content">
            <?php if ( $page->studentOverview ) : ?>
                <?=$page->studentOverview?>
            <?php endif; ?>
        </div>
    </section>
<?php endif; ?>
