<?php if ($page->extContent) : ?>
    <button class="col1 inv" id="back-ext"><a href="<?=BASEURL . $this->routeObj->pageUrl . '/' . $this->routeObj->get_pageVars('page_title')?>"><i class="fa fa-arrow-left ico"></i>Extensions</a></button>
    <section>
        <?=$page->extContent?>
    </section>
<?php endif ?>
<?php if ( $page->extOverview ) : ?>
<section id="extension-overview">
    <div class="section-title">
        <h2>Extension overview</h2>
    </div>
    <div class="section-content">
        <?=$page->extOverview?>
    </div>
</section>
<?php endif; ?>
