<section id="studentimport">
    <div class="section-content">
        <?php if ( !empty($page->importMessage) ) : ?>
            <p><em><?=$page->importMessage;?></em></p>
        <?php endif; ?>
        <?php if ( $page->formElement ) : ?>
            <?=$page->formElement?>
        <?php endif; ?>
    </div>
</section>