<section id="user-overview">
    <div class="section-title">
        <h2>Student overview</h2>
    </div>
    <div class="section-content">
        <?php if ( $page->studentOverview ) : ?>
            <?=$page->studentOverview?>
        <?php endif; ?>
    </div>
</section>