<!doctype HTML>
<head>
    <title><?=( !empty($this->routeObj->altTitle) ? $this->routeObj->altTitle : $this->routeObj->pageTitle )?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?=$this->get_dependencies( 'header' )?>
</head>
<body>
<?php $this->get_part( 'menu' ); ?>
<div class="background"><img src="<?=BASEURL?>Public/img/background3.jpg"/></div>

<main>
    <div class="page-title small">
        <?php if ($page->get_backButton()) : ?>
            <?=$page->get_backButton()?>
        <?php endif; ?>
        <h1><?=( !empty($this->routeObj->altTitle) ? $this->routeObj->altTitle : $this->routeObj->pageTitle )?></h1>
    </div>
    <article class="container-static <?=str_replace(' ', '-', strtolower($this->routeObj->pageTitle))?>">
