<!doctype HTML>
<head>
    <title><?=$this->routeObj->pageTitle?> admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?=\base\controllers\PageController::get_dependencies( 'header' )?>
</head>
<body>
<?php $this->get_part( 'admin-menu' ); ?>
<div class="background"><img src="<?=BASEURL?>Public/img/background3.jpg"/><?php //$this->svg_helper('background3')?></div>

<main class="adminpanel-main">
    <div class="admin-page-title">
        <?php if ( isset($page->backButton) ) : ?>
            <a href="<?=$page->backButton['url']?>"><button class="white inv backbutton"><i class="fas fa-arrow-left"></i><?=$page->backButton['text']?></button></a>
        <?php endif; ?>
        <h1><?=( !empty($this->routeObj->altTitle) ? $this->routeObj->altTitle : $this->routeObj->pageTitle )?></h1>
        <?php if ( !empty( $page->adminPageDescription ) ) : ?>
            <span class="description"><?=$page->adminPageDescription?></span>
        <?php endif; ?>
    </div>
    <article class="admin-content">
