ul#option-overview-list {
  float: left;
  width: 100%;
  border: 1px solid rgba(0,0,0,.4);
  ul, li {
    float: left;
    width: 100%;
  }
  li {
    position: relative;
    span {
      float: left;
      width: calc( 100% - 10rem );
      height: 3.2rem;
      padding: .8rem 1rem;
      &.key {
        width: 10rem;
        text-align: right;
      }
    }
    &[data-key="category"] {
      height: 3.2rem;
      border-bottom: 1px solid rgba(0,0,0,.2);
      overflow: hidden;
      > span {
        background-color: rgba(0,0,0,.1);
        font-weight: bold;
      }
      i.dropdown-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 4rem;
        height: 3.2rem;
        padding: .8rem 1rem;
        text-align: center;
        cursor: pointer;
      }
    }
    &[data-key="class"] {
      &:hover {
        background-color: rgba(0,174,239,.1);
      }
    }
    > ul {
    }
  }
}