@import 'imports/mixins';
@import 'imports/darkvars';

div.admin-page-title {
  @include box-shadow($ver: 1rem, $blur: 2rem, $color: fade_out($defbase,.8));
  position: relative;
  padding: 0;
  background-color: $black3;
  text-align: right;
  h1,
  span.description{
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
  }
  h1 {
    margin: 0;
    color: #fff;
    border-bottom: 1px solid fade_out($col4, 60%);
  }
  span.description {
    color: $defbase;
    font-size: 1.5rem;
    font-style: italic;
  }
  button.backbutton {
    float: left;
    margin: 1rem 2rem;
  }
}

article.admin-content {
  width: 100%;
  padding: 0 1rem 2rem 1rem;
  background-color: $white7;
  color: $black8;
  > p {
    padding: 1rem;
  }
  button.redirect {
    float: right;
    margin: 1rem 0;
  }
  button#back-ext {
    margin: 1rem 0;
  }
  section {
    @include border-radius(.3rem);
    @include box-shadow($ver: .5rem, $blur: .8rem, $color: $black4);
    width: 100%;
    margin: 2rem 0;
    background-color: fade_out($defbase, 40%);
    border: 1px solid $col1;
    overflow: hidden;
    div.section-title {
      position: relative;
      h2 {
        padding: 1rem;
        margin: 0;
        background-color: fade_out($col1, 50%);
        color: #fff;
        font-weight: bold;
        form {
          float: right;
          width: auto;
          margin: -.8rem 0;
          label {
            padding: 0;
            margin: 0;
            select {
              margin: 0;
            }
          }
        }
      }
      button {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
    div.section-content {
      @include nice-scrollbar-small( transparent, $black3 );
      padding: 1rem;
      overflow-x: auto;
      table {
        width: 100%;
        table-layout: auto;
        * {
          position: relative;
        }
        thead {
          border: 1px solid $black5;
          tr {
            th {
              background-color: $col1;
              color: #000;
              border: $mainbase;
            }
          }
        }
        tbody {
          border: 1px solid $black5;
          tr:nth-of-type(odd) {
            td {
              background-color: $black1;
            }
          }
          tr:last-of-type {
            border: 1px solid $black5;
          }
        }
      }
    }
  }
}

footer.admin-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: $black2;
  color: $white4;
}
