@import 'imports/mixins';
@import 'imports/vars';

table.overlap-view {
  tbody {
    td {
      max-height: 2rem;
    }
  }
  tr {
    td {
      &.same {
        background-color: $black3 !important;
      }
      &.free {
        background-color: $green !important;
      }
      &.blocked {
        background-color: $red !important;
      }
      > span {
        display: inline-block;
        max-width: 5rem;
        height: auto;
        font-size: .8rem;
        font-style: italic;
        white-space: normal;
      }
    }
  }
}