@import 'imports/mixins';
@import 'imports/vars';

.late { background-color: $red; &:hover { background-color: darken($red, 10%) } }
.game { background-color: mix($red, $orange); &:hover { background-color: darken(mix($red, $orange), 10%) } }
.disturb { background-color: $orange; &:hover { background-color: darken($orange, 10%) } }
.absent { background-color: darken($red, 20%); &:hover { background-color: darken($red, 30%) } }
.good { background-color: $green; &:hover { background-color: darken($green, 10%); } }

div.points {
  @include border-radius(0.5rem);
  &:not(.overview) {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  width: auto;
  padding: 0.5rem;
  background-color: $col1;
  color: #fff;
  &.overview {
    @include scale(1.5);
    display: inline-block;
  }
  &.half { background-color: $yellow; }
  &.quarter { background-color: $orange; }
  &.ten { background-color: $red; }
}

button#delete-point {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}

article.admin-content {
  padding-top: 0;
  div.radio-check-group {
    display: block;
    div.radio-check {
      float: left;
      width: auto;
      margin: 0 .5rem;
    }
  }
}

article.dashboard,
article.pointlog {
  float: none;
  padding-top: 0;
  margin: 0 auto;
  > em {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 2rem;
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

article.dashboard { max-width: 85rem; }
article.pointlog { max-width: 60rem; }

div#student-overview,
div#pinned {
  position: relative;
  margin-top: 2rem;
  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div.pointblock {
      width: 50%;
      &:nth-of-type(odd) {
        padding-right: 1rem;
      }
      &:nth-of-type(even) {
        padding-left: 1rem;
      }
    }
  }
  &.set {
    div.pointblock {
      background-color: $col1;
      div.inner {
        h3 {
          color: #fff
        }
        div.buttons {
          display: none;
        }
      }
    }
  }
  div.pointblock {
    padding: 1rem 0;
    div.inner {
      @include border-radius(0.5rem);
      @include box-shadow($ver: 0.3rem, $blur: 0.5rem, $color: $black3);
      position: relative;
      background-color: $white8;
      border: 1px solid lighten($col3, 30%);
      overflow: hidden;
      h3 {
        padding: 1rem 1.5rem;
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
        em {
          margin-left: 1rem;
          font-family: $normalFont;
          font-size: 1rem;
          font-weight: normal;
        }
        @media screen and (max-width: 400px) {
          font-size: 1.5rem;
        }
      }
      div.buttons {
        display: flex;
        float: left;
        flex-wrap: wrap;
        button {
          @include border-radius(0);
          float: left;
          margin: 0;
          line-height: 2rem;
          &.late,
          &.game,
          &.disturb {
            width: calc(100% / 3);
            i {
              width: 100%;
            }
          }
          &.absent,
          &.good {
            width: 100%;
          }
          @media screen and (max-width: 400px) {
            padding: 0.8rem .3rem;
            font-size: .9rem;
            line-height: 1.5rem;
          }
          @media screen and (max-width: 500px) {
            padding: 1rem .5rem;
            font-size: 1rem;
            line-height: 1.7rem;
          }
        }
      }
    }
  }
}

div#pinned {
  div.pointblock {
    div.inner {
      div.buttons {
        display: none;
      }
    }
  }
}

div#log-container {
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
  h2:first-of-type {
    margin-top: 0;
  }
  &.student {
    div.logblock {
      cursor: auto;
    }
  }
  div.logblock {
    padding: 0.5rem;
    cursor: pointer;
    div.inner {
      @include border-radius(0.5rem);
      @include box-shadow($ver: 0.3rem, $blur: 0.5rem, $color: $black3);
      position: relative;
      display: flex;
      background-color: $white8;
      border: 1px solid lighten($col3, 30%);
      flex-direction: row;
      justify-content: stretch;
      overflow: hidden;
      div {
        position: relative;
        &.icon {
          @include transition();
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          width: 3rem;
          height: 100%;
          padding: .5rem;
          color: #fff;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          z-index: 1;
          &:hover,
          &.active {
            width: 17rem;
          }
          i.fa,
          span.points {
            position: absolute;
            left: .5rem;
            width: 2rem;
            text-align: center;
          }
          i.fa {
            top: 1rem;
          }
          span.points {
            bottom: 1rem;
          }
          span.type {
            position: absolute;
            left: 3rem;
            width: 14rem;
            line-height: 1.8rem;
          }
        }
        &.time {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 .5rem;
          font-style: italic;
          text-align: right;
          font-size: .75rem;
          z-index: 1;
        }
        &.info {
          width: 100%;
          min-height: 5.5rem;
          padding-left: 3rem;
          div {
            position: relative;
            padding: 1rem;
            &.student,
            &.teacher {
              padding-bottom: 0rem;
              font-weight: bold;
            }
            &.student {
              div.points {
                @include scale(.6);
                display: inline-block;
                top: 0;
                right: 0;
                padding: 0.5rem;
                font-weight: normal;
              }
            }
            &.description {
              min-height: 3rem;
              padding-bottom: .4rem;
              padding-right: 2rem;
              font-size: 1rem;
              font-style: italic;
            }
            span {
              position: absolute;
              top: 0;
              left: .5rem;
              font-size: 0.8rem;
              font-weight: normal;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }
}

div.point-sum {
  display: flex;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  @media screen and (min-width: 762px) {
    flex-direction: row;
    > div {
      &.total {
        width: 40%;
      }
      &.sum {
        width: 60%;
      }
    }
  }
  > div {
    width: 100%;
    &.total {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &.sum {
      align-self: flex-end;
      flex-wrap: wrap;
      flex-direction: row;
      div.pointsum {
        float: left;
        width: 100%;
        color: #fff;
        span {
          float: left;
          padding: .5rem;
          &.times,
          &.type i,
          &.total {
            width: 3rem;
            font-weight: bold;
            text-align: center;
          }
          &.type {
            width: calc(100% - 6rem);
            white-space: nowrap;
            overflow: hidden;
          }
          &.total {
            float: right;
          }
        }
      }
    }
  }
}

div#points-arr,
div#color-arr,
div#border-arr {
  display: none;
}
canvas#point-chart {
  width: 40vw;
  height: 40vw;
  margin: 2rem 0;
}