@import 'imports/mixins';
@import 'imports/vars';

div.presence-container {
  float: left;
  width: 100%;
  padding: 1rem 0;
  div, table {
    float: left;
    width: 100%;
  }
  div.presence-list {
    div {
      width: 50%;
      font-size: 1rem;
      &.students {
        padding-right: 1rem;
      }
      &.unsubbed {
        padding-left: 1rem;
      }
      table {
        margin: 1rem 0;
        thead {
          td {
            background-color: $col1;
            font-weight: bold;
          }
        }
        tbody {
          td {
            border-right: 1px solid $black5;
            &:last-of-type {
              border-right: none;
            }
          }
        }
        tr.np {
          background-color: fade-out($red, 20%);
        }
        tr.even {      
          td {
            background-color: $black1;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    div.presence-list {
      div {
        width: 100%;
      }
    }
  }
}

body.print {
  float: none;
  background-color: #fff;
  h3 {
    padding: 10px 0;
    font-size: 15px;
  }
  div.presence-list {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    h3 {
      padding: 0;
      margin: 0;
    }
    div {
      float: left;
      width: 50%;
      &.students {
        padding-right: 1rem;
      }
      &.unsubbed {
        padding-left: 1rem;
      }
    }
  }
  table {
    border: 1px solid #000;
    tr.np {
      background-color: fade-out($red, 20%);
    }
    tr.even {      
      td {
        background-color: $black1;
      }
    }
    td {
      padding: 3px;
      border: 1px solid #000;
      font-size: 8px;
      line-height: 8px;
    }
  }
}

@media print {
  * {
    float: none;
  }
  div.presence-list {
    page-break-after: always;
  }
}