@import 'imports/mixins';
@import 'imports/vars';

table.subjects {
  max-width: 100%;
  color: #000;
  overflow: scroll;
  td {
    font-size: 1.3rem;
  }
  td:first-of-type {
    text-align: right;
  }
  thead {
    td {
      strong {
        float: left;
        width: 100%;
      }
    }
  }
  tbody {
    td.subcol {
      padding: .1rem;
      div.sublink {
        @extend %short-transition;
        display: block;
        width: 100%;
        min-height: 100%;
        height: 100%;
        max-height: 100%;
        padding: 1rem;
        text-align: center;
        color: $white8;
        background-color: $black2;
        cursor: pointer;
        > i.fa-check {
          display: none;
        }
        > i {
          height: 1rem;
        }
        &:hover {
          background-color: transparentize($green, .8);
          color: #fff;
          > i.fa-times { display: none; }
          > i.fa-check { display: inline; }
        }
        &.subbed {
          background-color: $green;
          color: #fff;
          > i.fa-times { display: none; }
          > i.fa-check { display: inline; }
          &:hover {
            background-color: $red;
            > i.fa-times { display: inline; }
            > i.fa-check { display: none; }
          }
        }

      }
    }
  }
}