<?php
if ($vars['teacher']) {
    $points = $vars['points'];
    $max = $vars['max'];
    if ($points <= ($max / 2)) {
        $class = 'half';
    } elseif ($points <= ($max / 4)) {
        $class = 'quarter';
    } elseif ($points <= ($max / 10)) {
        $class = 'ten';
    } else {
        $class = '';
    }
}
?>
<div class="logblock <?=(!$vars['teacher']?'student':'')?>" data-time="<?=str_replace(' ','T',$vars['time'])?>">
    <div class="inner">
        <div class="icon <?=$vars['type']?>">
            <i class="fa fa-<?=$vars['icon']?>"></i>
            <span class="points"><?=($vars['point']>0?'+':'').$vars['point']?></span>
            <span class="type"><?=$vars['name']?></span>
        </div>
        <div class="time"><?=date('D j M @ H:i', strtotime($vars['time']));?></div>
        <div class="info">
            <?php if ($vars['teacher']) : ?>
                <div class="student">
                    <span>Student:</span>
                    <?=$vars['firstname']?> <?=(!empty($vars['prefix'])?$vars['prefix'].' ':'')?><?=$vars['lastname']?>
                    <div class="points <?=$class?>">
                        <strong><?=$points?></strong>/<?=$max?>
                    </div>
                </div>
            <?php else: ?>
                <div class="teacher"><span>Docent:</span><?=$vars['lettercode']?></div>
            <?php endif; ?>
            <div class="description"><span>Beschrijving:</span> <?=$vars['description']?></div>
        </div>
    </div>
</div>