<nav class="navbar">
    <div class="logo">
        <a href="<?=BASEURL?>"><?=$this->svg_helper( 'mbou-logo' )?></a>
    </div>
    <div class="menu-container">
        <div class="menu-icon">
            <div class="hamburger hamburger--spin">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
            </div>
        </div>
        <ul id="<?=$this->menuObj->menuTitle?>" class="menu" data-menuId="<?=$this->menuObj->menuId?>">

            <?php foreach( $this->menuObj->menuItems as $id => $item ) : ?>
                <li id="item-<?=$id?>" class="menu-item <?=(isset($item['subs'])?'has-subs':'')?>">

                    <a href="<?=BASEURL.$item['url']?>"><?=$item['title']?></a>

                    <?php if ( isset( $item['subs'] ) ) : ?>
                        <ul class="sub-menu">

                            <?php foreach( $item['subs'] as $id => $item ) : ?>
                                <li id="item-<?=$id?>" class="menu-item <?=(isset($item['subs'])?'has-subs':'')?>">
                                    <a href="<?=BASEURL.$item['url']?>"><?=$item['title']?></a>
                                </li>
                            <?php endforeach; ?>

                        </ul>
                    <?php endif; ?>

                </li>
            <?php endforeach; ?>

        </ul>

        <?=$this->get_part( 'user-menu' )?>
    </div>
</nav>