<?php if (isset($vars[0])) : ?>
<?php
    $colorPreset = array(
        'absent' => array('#6f150b', 'rgba(111, 21, 11, .9)'),
        'late' => array('#cc2714', 'rgba(204, 39, 20, .9)'),
        'game' => array('#d54e10', 'rgba(213, 78, 16, .9)'),
        'disturb' => array('#de740c', 'rgba(222, 116, 12, .9)'),
        'good' => array('#33cf4d', 'rgba(51, 207, 77, .9)'),
    );

    $sumArr = array();
    $colorArr = array('rgba(0, 120, 163, .5)');
    $borderArr = array('#0078a3');

    foreach ($vars[0] as $sum) {
        $sumArr[] = ($sum['sum'] < 0 ? $sum['sum'] * -1 : $sum['sum'] );
        $colorArr[] = $colorPreset[$sum['type']][1];
        $borderArr[] = $colorPreset[$sum['type']][0];
    }
    array_unshift($sumArr, (int)$vars[1][0]);
?>
<div id="points-arr" style="display: none;"><?=json_encode($sumArr)?></div>
<div id="color-arr" style="display: none;"><?=json_encode($colorArr)?></div>
<div id="border-arr" style="display: none;"><?=json_encode($borderArr)?></div>
<canvas id="point-chart"></canvas>
<?php endif; ?>