<?php $typeArr = $vars['type']; ?>
<button
    data-id="<?=$typeArr['type_id']?>"
    data-point="<?=$typeArr['point']?>"
    class="pointbtn <?=$typeArr['type']?>">

    <i class="fa fa-<?=$typeArr['icon']?>"></i>

    <?=$typeArr['name']?>

</button>

