<div class="pointblock">
    <div class="inner">
        <h3><a href="<?=BASEURL.'pointlog/student/'.$vars['user']['user_id']?>"><?=$vars['nicename']?></a><em><?=$vars['class']?></em></h3>
        <?php
            $points = $vars['user']['points'];
            $max = $vars['user']['maximum'];
            if ($points <= ($max / 2)) $class = 'half';
            elseif ($points <= ($max / 4)) $class = 'quarter';
            elseif ($points <= ($max / 10)) $class = 'ten';
            else $class = '';
        ?>
        <div class="points <?=$class?>">
            <strong><?=$points?></strong>/<?=$max?>
        </div>

        <div class="buttons"
             data-points="<?=$vars['user']['points']?>"
             data-max="<?=$vars['user']['maximum']?>"
             data-name="<?=$vars['nicename']?>"
             data-id="<?=$vars['user']['user_id']?>">
            <?=$vars['buttons']?>
        </div>
    </div>
</div>