<?php $level = ( !$this->userObj ? false : $this->userObj->get_level() );  ?>

<div class="user-menu-container">
    <a class="user-title waves-effect waves-light" href="#"><i class="fa fa-user"></i><?=$this->get_user_title()?></a>
    <ul class="user-menu">
    <?php if ( $level === false ) : ?>
        <li><a href="<?=BASEURL?>login">Login</a></li>
        <?php /*<li><a href="<?=BASEURL?>register">Register</a></li>*/ ?>
    <?php else : ?>
        <li><a href="<?=BASEURL?>profile"><i class="far fa-address-card"></i>Profile</a></li>
        <?php if ( $level < 3 ) : ?>
            <li><a href="<?=BASEURL?>adminpanel"><i class="far fa-address-card"></i>Admin panel</a></li>
        <?php endif; ?>
        <li><a href="<?=BASEURL?>logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    <?php endif; ?>
    </ul>
</div>