@import 'vars';
@import 'mixins';

body {
  font-family: $normalFont;
  font-size: 18px;
  color: $textcolor;
  line-height: 1.5rem;
  @media screen and (min-width: 640px) {
    font-size: 20px;
  }
  @media screen and (min-width: 992px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont !important;
}

h1 {
  font-size: 3rem;
  color: $col1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.12rem;
}

h6 {
  font-size: 1rem;
}

a {
  @extend %short-transition;
}

button, .button {
  @include border-radius( .3rem );
  @include transition( $dur: .4s, $ease: cubic-bezier(0, 0, 0.21, 0.93));
  @include inset-box-shadow($ver: 0rem, $color: $black3);
  min-width: 2.2rem;
  padding: .8rem 1.5rem;
  margin: 0 .5rem 0 0;
  background-color: $col1;
  border: none;
  font-family: $titleFont;
  text-align: center;
  color: #fff;
  cursor: pointer;
  i {
    margin-right: .5rem;
  }
  &.big {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
  }
  &.small {
    padding: .4rem .8rem;
  }
  &:hover {
    @include inset-box-shadow($ver: .1rem, $blur: .1rem, $color: $black3);
    background-color: darken($col1, 10%);
  }
  &.danger {
    background-color: $red; border-color: $red; border: none;
    &:hover { background-color: darken($red, 10%) }
    &.inv { color: $red; * { color: $red } &:hover{ background-color: $red; border-color: $red; color: invert($red); * { color: invert($red) } } }
  }
  &.success {
    background-color: $green; border-color: $green; border: none;
    &:hover { background-color: darken($green, 10%) }
    &.inv { color: $green; * { color: $green } &:hover{ background-color: $green; border-color: $green; color: invert($green); * { color: invert($green) } } }
  }
  &.warning {
    background-color: $orange; border-color: $orange; border: none;
    &:hover { background-color: darken($orange, 10%) }
    &.inv { color: $orange; * { color: $orange } &:hover{ background-color: $orange; border-color: $orange; color: invert($orange); * { color: invert($orange) } } }
  }
  &.col1 {
    background-color: $col1; border-color: $col1; border: none;
    &:hover { background-color: darken($col1, 10%) }
    &.inv { color: $col1; * { color: $col1 } &:hover{ background-color: $col1; border-color: $col1; color: invert($col1); * { color: invert($col1) } } }
  }
  &.col2 {
    background-color: $col2; border-color: $col2; border: none;
    &:hover { background-color: darken($col2, 10%) }
    &.inv { color: $col2; * { color: $col2 } &:hover{ background-color: $col2; border-color: $col2; color: invert($col2); * { color: invert($col2) } } }
  }
  &.col3 {
    background-color: $col3; border-color: $col3; border: none;
    &:hover { background-color: darken($col3, 10%) }
    &.inv { color: $col3; * { color: $col3 } &:hover{ background-color: $col3; border-color: $col3; color: invert($col3); * { color: invert($col3) } } }
  }
  &.col4 {
    background-color: $col4; border-color: $col4; border: none;
    &:hover { background-color: darken($col4, 10%) }
    &.inv { color: $col4; * { color: $col4 } &:hover{ background-color: $col4; border-color: $col4; color: invert($col4); * { color: invert($col4) } } }
  }
  &.col5 {
    background-color: $col5; border-color: $col5; border: none;
    &:hover { background-color: darken($col5, 10%) }
    &.inv { color: $col5; * { color: $col5 } &:hover{ background-color: $col5; border-color: $col5; color: invert($col5); * { color: invert($col5) } } }
  }
  &.white {
    background-color: #fff; border-color: #fff; border: none;
    &:hover { background-color: darken(#fff, 10%) }
    &.inv { color: #fff; * { color: #fff } &:hover{ background-color: #fff; border-color: #fff; color: invert(#fff); * { color: invert(#fff) } } }
  }
  &.danger,
  &.success,
  &.warning,
  &.col1,
  &.col2,
  &.col3,
  &.col4,
  &.col5,
  &.white {
    &.inv {
      background-color: transparent;
      border: 2px solid;
    }
  }
}

label.btnlabel {
  @include transition( $dur: .4s, $ease: cubic-bezier(0, 0, 0.21, 0.93));
  display: inline-block;
  padding: .4rem;
  font-family: $titleFont;
  cursor: pointer;
  &:hover {
    color: $col5;
  }
}
span.formfeedback {
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
  &.success {
    background-color: fade-out($green, 50%);
    border: 1px solid $green;
  }
  &.warning {
    background-color: fade-out($orange, 50%);
    border: 1px solid $orange;
  }
  &.danger {
    background-color: fade-out($red, 50%);
    border: 1px solid $red;
  }
}
form {
  display: grid;
  height: auto;
  padding: 0;
  margin: 0;
  *:not(button):not([type="submit"]):not(sup) {
    display: grid;
  }
  label {
    sup {
      display: contents;
    }
    input,
    textarea,
    select,
    div.wysiwyg {
      padding: .8rem 1rem;
      margin: 1rem 0;
      background-color: $black3;
      border: 1px solid;
      color: $black8;
      font-size: 1.5rem;
      &[type="hidden"] {
        display: none;
      }
    }
    textarea {
      min-height: 6.2rem;
    }
    div.wysiwyg {
      min-height: 20rem;
      margin-top: 0;
    }
    div.ql-toolbar {
      display: block !important;
      margin-top: 1rem;
    }
    div.ql-editor {
      display: block;
      font-size: 1rem;
      font-family: Helvetica !important;
      color: #fff;
      h1, h2, h3, h4, h5, h6 {
        font-family: Helvetica !important;
        font-weight: bold;
        color: #fff;
      }
      em, u, strong {
        display: inline;
      }
      p {
        display: inline-block;
        float: left;
        clear: left;
      }
      strong {
        font-weight: bold;
      }
    }
    select {
      option {
        background-color: #fff;
      }
    }
    div.timeselect {
      display: inline-block !important;
      width: 100%;
      select, span {
        float: left;
        display: block;
      }
      select.timeselect-h,
      select.timeselect-m {
        width: 7rem;
      }
      span {
        padding: 2rem 1rem;
      }
    }
  }
  div.radio-check-group {
    padding: 1rem 0;
    div.radio-check {
      display: block;
      padding: 1rem 0;
      input[type="radio"],
      input[type="checkbox"] {
        @include scale(1.2);
        display: inline-block;
        float: left;
        margin: .3rem .5rem;
      }
    }
  }
}

table {
  width: 100%;
  table-layout: auto;
  tr {
    width: 100%;
    th, td {
      @include transition();
      padding: 1rem;
      font-size: 1.2rem;
      vertical-align: top;
      white-space: nowrap;
      label.col-lbl {
        display: none;
      }
      p {
        margin: 0;
      }
    }
    &[data-url] {
      cursor: pointer;
      &:hover {
        th, td {
          background-color: $black2 !important;
        }
      }
    }
    td.editcol {
      text-align: right;
      button {
        padding: .5rem;
      }
    }
  }
  tfoot {
    td.editcol {
      text-align: left;
    }
  }
  @media screen and (max-width: 768px) {
    thead {
      display: none;
    }
    tr {
      th, td {
        position: relative;
        float: left;
        width: 100%;
        height: 4rem;
        padding: 2rem 1rem .5rem 1.5rem;
        label.col-lbl {
          display: block;
          position: absolute;
          top: .5rem;
          left: 1rem;
          height: 2rem;
          font-weight: bold;
        }
      }
    }
    tr {
      td.editcol {
        padding: 1rem 0 0 0;
      }
    }
    tbody {
      tr {
        td.editcol {
          button {
            @include border-radius(0);
            float: left;
            width: 50%;
            height: 100%;
            padding: .9rem;
            margin: 0;
            opacity: .7;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

div.pickmeup {
  padding-bottom: 1rem;
  z-index: $overlayLevel;
  nav {
    position: relative;
  }
}