html, body {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: $mainbase;
  overflow-x: hidden;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 _____  ______ _    _  _____         ____  _      ______    _____ _                _____ _____ ______  _____
|  __ \|  ____| |  | |/ ____|  /\   |  _ \| |    |  ____|  / ____| |        /\    / ____/ ____|  ____|/ ____|
| |__) | |__  | |  | | (___   /  \  | |_) | |    | |__    | |    | |       /  \  | (___| (___ | |__  | (___
|  _  /|  __| | |  | |\___ \ / /\ \ |  _ <| |    |  __|   | |    | |      / /\ \  \___ \\___ \|  __|  \___ \
| | \ \| |____| |__| |____) / ____ \| |_) | |____| |____  | |____| |____ / ____ \ ____) |___) | |____ ____) |
|_|  \_\______|\____/|_____/_/    \_\____/|______|______|  \_____|______/_/    \_\_____/_____/|______|_____/
 */


%bfbutton {
  padding: 2rem;
  font-size: 1.4rem;
  //font-family: $titleFont;
  letter-spacing: .15rem;
  line-height: 2rem;
}

/*
 ______ _   _ _____    _____  ______ _    _  _____         ____  _      ______    _____ _                _____ _____ ______  _____
|  ____| \ | |  __ \  |  __ \|  ____| |  | |/ ____|  /\   |  _ \| |    |  ____|  / ____| |        /\    / ____/ ____|  ____|/ ____|
| |__  |  \| | |  | | | |__) | |__  | |  | | (___   /  \  | |_) | |    | |__    | |    | |       /  \  | (___| (___ | |__  | (___
|  __| | . ` | |  | | |  _  /|  __| | |  | |\___ \ / /\ \ |  _ <| |    |  __|   | |    | |      / /\ \  \___ \\___ \|  __|  \___ \
| |____| |\  | |__| | | | \ \| |____| |__| |____) / ____ \| |_) | |____| |____  | |____| |____ / ____ \ ____) |___) | |____ ____) |
|______|_| \_|_____/  |_|  \_\______|\____/|_____/_/    \_\____/|______|______|  \_____|______/_/    \_\_____/_____/|______|_____/
 */

div.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: .1;
  z-index: $backgroundLevel;
  overflow: hidden;
  svg, img {
    @include transition( $dur: .8s, $ease: cubic-bezier(0.5, 0.23, 0.2, 0.79) );
    @extend %allcenter;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background-color: fade_out($mainbase, 20%);
  color: $col4;
  z-index: $menuLevel;
  &.admin-navbar {
    h3 {
      @extend %horcenter;
      width: auto;
    }
  }
  > div:not(.menu-container) {
    height: 100%;
    padding: .5rem;
  }
  div.logo {
    float: right;
    svg {
      float: left;
      width: auto;
      height: 100%;
    }
  }
  div.menu-container {
    @include transition($ease: cubic-bezier(0, 0, 0.04, 0.97));
    @include box-shadow( $hor: 15px, $blur: 20px, $color: $black5 );
    position: fixed;
    top: 0;
    left: -20rem;
    width: 20rem;
    height: 100vh;
    background-color: $mainbase;
    border-bottom: none;
    border-right: 1px solid $col4;
    &.open {
      left: 0rem;
    }
    div.menu-icon {
      position: absolute;
      top: 0;
      left: 100%;
      height: 4.5rem;
      padding: .5rem;
      div.hamburger {
        @include transition($dur: 0.15s, $ease: linear);
        display: inline-block;
        height: 100%;
        padding: 0 .5rem;
        margin: 0;
        background-color: transparent;
        border: 0;
        text-transform: none;
        overflow: visible;
        cursor: pointer;
        &:hover,
        &.is-active:hover {
          opacity: 0.7;
        }
        &.is-active {
          span.hamburger-inner {
            //background-color: #fff;
            &::before,
            &::after {
              //background-color: #fff;
            }
          }
        }
        span.hamburger-box {
          display: inline-block;
          position: relative;
          width: 3.5rem;
          height: 2rem;
          span.hamburger-inner {
            @include transition($dur: .15s);
            @include border-radius(6px);
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 6px;
            margin-top: -3px;
            background-color: #000;
            &:before,
            &:after {
              @include transition($dur: .15s);
              @include border-radius(6px);
              content: '';
              display: block;
              position: absolute;
              width: 100%;
              height: 6px;
              background-color: #000;
            }
            &:before {
              top: -15px;
            }
            &:after {
              bottom: -15px;
            }
          }
        }
        &.hamburger--spin {
          span.hamburger-inner {
            @include transition($dur: .22s, $ease: cubic-bezier(0.55, 0.055, 0.675, 0.19));
            &:before {
              transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
            }
            &:after {
              transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
          }
          &.is-active {
            span.hamburger-inner {
              @include rotate(225deg);
              transition-delay: 0.12s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              &:before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
              }
              &:after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
              }
            }
          }
        }
      }
    }
    a {
      @extend %bfbutton;
    }
    ul.menu {
      float: left;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      * {
        float: left;
        width: 100%;
        height: auto;
      }
      > li {
        border-bottom: 1px solid $black2;
        > a {
          color: #000;
        }
        > ul.sub-menu {
          > li {
            > a {
              padding-top: .5rem;
              padding-bottom: .5rem;
              background-color: $black2;
              text-align: right;
              font-size: 1rem;
              &:hover {
                background-color: $black3;
              }
            }
          }
        }
      }
    }
    div.user-menu-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: 1rem;
      a.user-title {
        @include border-radius(.3rem);
        @extend %bfbutton;
        float: left;
        width: 100%;
        padding: 1rem;
        background-color: fade-out($defbase, .9);
        border: 1px solid fade-out($defbase, .5);
        color: #000;
        text-align: right;
        i {
          float: left;
          height: 100%;
          padding: .6rem 0;
          font-size: 1.1rem;
          line-height: 1rem;
        }
        &.active {
          background-color: fade-out($defbase, .1);
          color: $col1;
        }
      }
      ul.user-menu {
        @include transition( $dur: .3s, $ease: cubic-bezier(0, 0, 0.09, 0.73) );
        position: absolute;
        bottom: -200%;
        left: 1rem;
        width: calc(100% - 2rem);
        padding: 0;
        margin: 0;
        opacity: 0;
        &.active {
          bottom: calc(100% - 1rem);
          opacity: 1;
        }
        * {
          width: 100%;
          height: auto;
          font-size: 1.1rem;
          line-height: 1rem;
        }
        li {
          margin-bottom: .5rem;
          a {
            @include transition();
            @include border-radius(.3rem);
            padding: 1rem;
            background-color: fade-out($defbase, .7);
            color: #000;
            text-align: right;
            i {
              float: left;
              width: auto;
            }
            &:hover {
              background-color: fade-out($defbase, .2);
              color: $col1;
            }
          }
        }
      }
    }
  }
}

main {
  @include transition($ease: cubic-bezier(0, 0, 0.04, 0.97));
  position: relative;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 4.5rem 0 2rem 0;
  z-index: $contentLevel;
  &.open-menu {
    @include transition($dur:.8s, $ease: cubic-bezier(0.83, 0.1, 0.4, 0.8));
    left: 20rem;
  }
  > * {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  div.page-title {
    margin-bottom: 4rem;
    &.small {
      max-width: 60rem;
      margin: 0 auto;
      h1 {
        padding: 2rem 0 1rem 0;
        text-align: center;
      }
    }
    h1 {
      @include text-shadow($ver: 2px, $blur: 10px, $color: $defbase);
      margin: 0;
      text-align: left;
      padding: 3rem 0;
    }
    button.backbutton {
      margin: 2rem 0 -1rem 0;
    }
  }
  article {
    width: 100%;
    max-width: 60rem;
    padding: 3rem 2rem;
    margin: 0 auto;
    &.admin-content {
      float: left;
      max-width: 100%;
    }
  }
}

article.login,
article.profile {
  max-width: 30rem;
  input#inloggen,
  input#Wijzigen {
    margin-right: 0;
  }
  em {
    display: inline-block;
    margin: 0 auto 1.5rem auto;
    font-size: 1rem;
    color: $red;
  }
}

div.completion-bar {
  @include border-radius(.5rem);
  float: left;
  width: 100%;
  height: 2rem;
  margin: 2rem 0;
  background-color: $black3;
  border: 1px solid $black5;
  overflow: hidden;
  div.completed {
    @include box-shadow($hor: .2rem, $blur: .4rem, $color: $black3);
    float: left;
    height: 100%;
    background-color: $green;
    span {
      float: right;
      margin: .17rem 0.5rem 0 0;
      font-style: italic;
      font-size: 1.4rem;
    }
  }
}

div.planning-overview {
  h3 {
    float: left;
    margin: 1rem 0;
  }
  div.planning-block {
    @include border-radius(.3rem);
    @include box-shadow($ver: .3rem, $blur: .7rem, $color: $black5);
    float: left;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $white8;
    border: 1px solid $black5;
    &:last-of-type {
      margin-bottom: 0;
    }
    div {
      float: left;
      &.left {
        width: 12rem;
      }
      &.right {
        width: calc(100% - 12rem);
        &.open-planning {
          cursor: pointer;
        }
      }
      &.date {
        float: left;
        padding: 1rem;
        margin-right: 1rem;
        background-color: $col1;
        color: #fff;
        span {
          @include text-shadow($ver:.25rem, $color: $black3);
          float: left;
          font-family: monospace;
          &.day {
            margin-right: .5rem;
          }
          &.month {
            color: $white5;
          }
          &.week {
            clear: left;
            margin-top: .5rem;
            color: $white7;
            font-size: 2.2rem;
            font-weight: bold;
          }
        }
      }
      &.editcol {
        clear: left;
        margin-top: .5rem;
        button {
          float: left;
          &.uncheck {
            &:hover {
              background-color: $red;
            }
          }
          &.check {
            background-color: $black2;
            &:hover {
              background-color: $green;
            }
          }
        }
        label {
          float: left;
          clear: left;
          font-size: .8rem;
          font-style: italic;
        }
        div.rating {
          @include border-radius(.3rem);
          display: block;
          float: left;
          clear: left;
          padding: .3rem;
          &.good {
            background-color: darken($green, 5%);
          }
          &.medium {
            background-color: darken($orange, 5%);
          }
          &.bad {
            background-color: darken($red, 5%);
          }
          span {
            float: left;
            font-size: 1.2rem;
            line-height: 1.2rem;
            &.day {
              margin-right: .5rem;
              font-weight: bold;
            }
            &.week {
              clear: left;
              font-weight: bold;
            }
          }
        }
      }
      &.name {
        padding: 1rem 0;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2rem;
      }
      &.description {
        position: relative;
        clear: left;
        width: 100%;
        color: $black6;
        padding-top: .5rem;
        word-break: break-word;
        hyphens: auto;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -.5rem;
          width: calc(100% + .5rem);
          height: 1px;
          background-color: $black3;
        }
        h1, h2, h3, h4, h5, h6 {
          color: $black5;
          font-family: $normalFont !important;
          font-weight: bold;
        }
        :first-child {
          margin-top: 0;
        }
        h1 {
          font-size: 2rem;
        }
        h2 {
          font-size: 1.65rem;
        }
      }
    }

  }
  &.dashboard {
    div.planning-block {
      display: grid;
      padding: 0;
      grid-template-columns: 11rem auto;
      overflow: hidden;
      &:last-of-type {
        margin-bottom: 1rem;
      }
      div.left {
        display: block;
        height: 100%;
        width: 11rem;
        div {
          min-height: 50%;
          width: 100%;
        }
        div.date {
          margin-right: 0;
        }
        div.editcol {
          position: relative;
          padding: 0 .5rem;
          margin: 0;
          &.nocheck {
            &:before {
              @include horizontal-gradient($black1, $black2);
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          div.rating {
            @include border-radius(0);
            position: unset;
            float: left;
            width: 100%;
            background-color: transparent;
            &.good {
              &:before{
                @include horizontal-gradient(fade-out($green, .9), fade-out($green, .5));
                border-color: $green;
              }
            }
            &.medium {
              &:before{
                @include horizontal-gradient(fade-out($orange, .9), fade-out($orange, .5));
                border-color: $orange;
              }
            }
            &.bad {
              &:before{
                @include horizontal-gradient(fade-out($red, .9), fade-out($red, .5));
                border-color: $red;
              }
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-right: 2px solid;
            }
          }
          label, span {
            position: relative;
            z-index: 1;
          }
          label {
            padding: 0 .5rem;
          }
        }
      }
      div.right {
        width: auto;
        div.name {
          padding: 1rem;
          line-height: 2rem;
        }
        div.description {
          padding: 1rem;
          font-size: 1rem;
          &:before {
            left: 0;
            width: 100%;
          }
          p {
            margin: 0;
          }
          h1, h2, h3, h4, h5, h6 {
            font-size: 1.2rem;
            margin: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    div.planning-block {
      grid-template-columns: 100% !important;

      div {
        &.left,
        &.right {
          width: 100% !important;
          height: auto;
        }

        &.left {
          display: grid !important;
          grid-template-columns: 50% 50%;

          div.editcol {
            clear: none;
          }
        }
      }
    }
  }
}