$titleFont: 'Dosis', sans-serif;
$normalFont: 'Open Sans', sans-serif;

$col1: #0078A3;
$col2: #19C2FF;
$col3: #00AEEF;
$col4: #A35400;
$col5: #F07C00;

$red: #CC2714;
$green: #33CF4D;
$orange: #DE740C;
$yellow: #EBC600;

$mainbase: #fff;
$defbase: #00AEEF;

$textcolor: #3c3c3c;
$mediumtextcolor: #8c8c8c;
$lighttextcolor: #c3c3c3;

$white1: rgba( 255, 255, 255, .1 );
$white2: rgba( 255, 255, 255, .2 );
$white3: rgba( 255, 255, 255, .3 );
$white4: rgba( 255, 255, 255, .4 );
$white5: rgba( 255, 255, 255, .5 );
$white6: rgba( 255, 255, 255, .6 );
$white7: rgba( 255, 255, 255, .7 );
$white8: rgba( 255, 255, 255, .8 );
$white9: rgba( 255, 255, 255, .9 );

$black1: rgba( 0, 0, 0, .1 );
$black2: rgba( 0, 0, 0, .2 );
$black3: rgba( 0, 0, 0, .3 );
$black4: rgba( 0, 0, 0, .4 );
$black5: rgba( 0, 0, 0, .5 );
$black6: rgba( 0, 0, 0, .6 );
$black7: rgba( 0, 0, 0, .7 );
$black8: rgba( 0, 0, 0, .8 );
$black9: rgba( 0, 0, 0, .9 );

$backgroundLevel: 0;
$bgOverlayLevel: 2;
$contentLevel: 4;
$menuLevel: 6;
$overlayLevel: 8;
$topLevel: 10;