<div class="section-title">
    <h2>Row and Column options</h2>
</div>
<div class="section-content">
    <?php if ($var and !empty($var)) : ?>
        <ul id="option-overview-list">
        <?php foreach ($var as $option) : ?>
            <li data-key="<?=$option['key']?>" data-value="<?=$option['value']?>">
                <span class="key"><?=ucfirst($option['key'])?>: </span>
                <span><?=$option['label']?> <?=(!empty($option['sub']) && count($option['sub']) > 0 ? '(' . count($option['sub']) . ')' : '')?></span>
                <?php if ( !empty($option['sub']) ) : ?>
                    <i class="fa fa-chevron-down dropdown-icon"></i>
                    <ul class="sub">
                        <?php foreach ($option['sub'] as $sub) : ?>
                            <li data-key="<?=$sub['key']?>" data-value="<?=$sub['value']?>"><span class="key"><?=ucfirst($sub['key'])?>: </span><span><?=$sub['label']?></span></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <button class="success"><i class="fa fa-plus ico"></i>Add option</button>
</div>
